.list{
  width: 40%;
  margin-top: 20px;
  background-color: #303030;
  padding: 15px;
  border-radius: 10px;
}

.list ul{
  display: block;
}

.list li{
  padding-bottom: 5px;
  color: whitesmoke;
}
.list li~li{
  margin-top: 15px;
}

.list li:not(:last-child){
  border-bottom: solid 1px #444;
}
